@import "null.css";

@import url("https://fonts.googleapis.com/css?family=Rowdies:300,regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Gorditas:regular,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Taviraj:100,100italic,200,200italic,800,800italic,900,900italic&display=swap");

@font-face {
  font-family: "Circularstd";
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Circularstd";
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}
.figma-lesson {
  font-family: "Circularstd", "sans-serif";
  font-size: 18px;
  padding-top: 140px;
  max-width: 1440px;
  margin: 0 auto;
}

.header-figma {
  font-size: 65px;
  margin-bottom: 20px;
  margin-left: 446px;
  line-height: 82px;
  color: #313131;
}
.subtitle {
  margin-left: 352px;
  max-width: 750px;
  text-align: center;
  font-size: 20px;
  color: #5f5f5f;
  line-height: 25px;
  margin-bottom: 224px;
}
.content {
  margin-left: 207px;
  max-width: 508px;
}
.service {
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  color: #313131;
  margin-bottom: 20px;
}
.service-text {
  font-size: 18px;
  line-height: 28px;
  color: #5f5f5f;
  margin-bottom: 125px;
}
.name {
  font-size: 18px;
  line-height: 23px;
}
.item1 {
  font-weight: 700;
  color: #313131;
  opacity: 0.88;
  margin-bottom: 5px;
}
.item2 {
  color: #b8b8b8;
  margin-bottom: 50px;
}
.foto {
  margin-left: 207px;
}

/*.header {
  font-family: "Gorditas", "cursive";
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  margin: 80px auto;
  max-width: 300px;
  border: 5px solid rgb(190, 1, 1);
  outline: 10px double rgb(53, 52, 1);
  padding: 5px;
  color: rgb(4, 112, 71);
  box-shadow: 10px 10px 10px 10px #000, -3px -2px 10px 10px rgb(153, 231, 7);
  border-radius: 20px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.text {
  font-family: "Rowdies", "cursive";
  margin: 30px;
  line-height: 1.8;
  border: 15px double rgb(190, 1, 1);
  border-radius: 20px;
  outline: 10px solid rgb(39, 3, 139);
  box-shadow: 10px 10px 10px 10px #000;
  padding: 5px;
  margin-bottom: 50px;
}
.text-1 {
  font-size: 19px;
  font-weight: 300;
  opacity: 0.5;
  border: 5px solid rgb(190, 1, 1);
  margin-bottom: 40px;
  padding: 20px;
  text-align: justify;
  color: burlywood;
  letter-spacing: 10px;
  text-decoration: underline;
}
.text-2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 3;
  word-spacing: 30px;
  text-transform: lowercase;
  text-decoration: overline;
  text-align: right;
  color: cadetblue;
  letter-spacing: 5px;
}
.text-3 {
  font-weight: 300;
  font-size: 33px;
  border: 5px solid rgb(190, 1, 1);
  box-shadow: 4px 5px 10px 10px #000;
  margin: 40px;
  outline: 10px double rgb(53, 52, 1);
  border-radius: 15px;
  color: chartreuse;
  opacity: 0.2;
  text-transform: capitalize;
  text-align: justify;
}
.text-4 {
  font-weight: 700;
  font-size: 11px;
  margin-bottom: 40px;
  letter-spacing: 40px;
  color: blueviolet;
  text-align: justify;
  text-decoration: line-through;
  outline: double;
}
.text-5 {
  font-weight: 300;
  font-size: 25px;
  opacity: 0.7;
  border: 5px solid rgb(190, 1, 1);
  outline: 10px double rgb(53, 52, 1);
  border-radius: 30px;
  width: 400px;
  margin-left: -60px;
  color: darkblue;
  letter-spacing: 5px;
  text-align: justify;
  line-height: 3;
  text-decoration: overline;
}
.test {
  font-family: "Taviraj", "serif";
  border: 5px solid rgb(171, 190, 1);
  margin-bottom: 40px;
  margin-left: 80px;
  padding-left: 90px;
  padding-top: 40px;
  outline: 10px dotted rgb(100, 5, 76);
  border-radius: 50px;
  box-shadow: inset 4px 5px 10px 10px rgb(87, 8, 8);
}
.test-1 {
  font-weight: 200;
  font-style: italic;
  font-size: 50px;
  color: firebrick;
  letter-spacing: 10px;
  text-align: right;
  text-transform: uppercase;
  line-height: 2;
  opacity: 0.3;
}
.test-2 {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 4px;
  line-height: 3;
  text-align: justify;
  color: coral;
  text-decoration: overline;
}
.test-3 {
  font-weight: 200;
  font-size: 49px;
  text-align: center;
  padding-right: 30px;
  color: darkcyan;
  text-decoration: line-through;
  text-transform: lowercase;
  letter-spacing: 8px;
  opacity: 0.5;
  line-height: 2;
  text-shadow: 5px 10px 10px rgb(87, 8, 8);
  word-spacing: 50px;
}
.test-4 {
  font-weight: 100;
  font-style: italic;
  font-size: 19px;
  text-align: justify;
  color: rgb(77, 25, 119);
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.2;
  line-height: 3;
  text-shadow: 2px 7px 5px rgb(87, 8, 8);
  word-spacing: 30px;
}
.test-5 {
  font-weight: 800;
  font-size: 69px;
  text-align: right;
  color: rgb(58, 3, 6);
  text-decoration: line-through;
  text-transform: lowercase;
  letter-spacing: 5px;
  opacity: 0.7;
  line-height: 2.4;
  text-shadow: 15px 5px 8px rgb(142, 145, 18);
  word-spacing: 10px;
}
.title {
  font-family: "Taviraj", "serif";
  border: 20px solid rgb(130, 145, 3);
  margin-bottom: 40px;
  margin-left: 80px;
  padding-left: 50px;
  padding-top: 50px;
  padding-right: 22px;
  outline: 15px double rgb(144, 180, 11);
  border-radius: 50px;
  box-shadow: inset 20px 5px 7px 30px rgb(91, 95, 30);
}

.title-1 {
  font-weight: 100;
  font-size: 49px;
  text-align: justify;
  color: rgb(85, 8, 47);
  text-decoration: overline;
  text-transform: uppercase;
  letter-spacing: 10px;
  opacity: 0.2;
  line-height: 3;
  text-shadow: 5px 8px 3x rgb(70, 87, 8);
  word-spacing: 30px;
}
.title-2 {
  font-weight: 900;
  font-style: italic;
  font-size: 49px;
  text-align: right;
  color: rgb(38, 6, 48);
  text-decoration: underline;
  text-transform: capitalize;
  letter-spacing: 20px;
  opacity: 0.9;
  line-height: 5;
  margin-bottom: 220px;
  text-shadow: 6px 120px 1px rgb(19, 1, 48);
  word-spacing: 30px;
}
.title-3 {
  font-weight: 200;
  font-size: 39px;
  text-align: justify;
  color: rgb(5, 111, 119);
  text-decoration: line-through;
  text-transform: lowercase;
  letter-spacing: 7px;
  opacity: 1;
  line-height: 3;
  text-shadow: 1px 2px 3px rgb(153, 18, 180);
  word-spacing: 50px;
  padding-right: 50px;
}
.title-4 {
  font-weight: 100;
  font-size: 29px;
  text-align: center;
  color: rgb(240, 2, 73);
  text-transform: lowercase;
  letter-spacing: 4px;
  opacity: 0.1;
  line-height: 1;
  text-shadow: 19px 10px 10px rgb(12, 4, 4);
  word-spacing: 50px;
}
.title-5 {
  font-weight: 800;
  font-style: italic;
  font-size: 41px;
  text-align: right;
  color: rgb(243, 40, 4);
  text-transform: lowercase;
  letter-spacing: 8px;
  opacity: 0.5;
  line-height: 2;
  text-shadow: 5px 5px 5px rgb(43, 2, 2);
  word-spacing: 50px;
}
.desc {
  outline: 10px dotted rgb(100, 5, 76);
  border: 20px double rgb(1, 190, 149);
  box-shadow: 10px 10px 10px 10px rgb(87, 8, 8);
  border-radius: 50px;
  padding: 60px;
}
.desc-1 {
}
.desc-2 {
}
.desc-3 {
}
.desc-4 {
}
.desc-5 {
}
.user {
  outline: 10px dotted rgb(100, 5, 76);
  border: 5px solid rgb(190, 1, 1);
  box-shadow: inset 4px 5px 10px 10px rgb(87, 8, 8);
  border-radius: 50px;
}
.user-1 {
}
.user-2 {
}
.user-3 {
}
.user-4 {
}
.user-5 {
}
.autor {
  outline: 10px dotted rgb(100, 5, 76);
  border: 5px solid rgb(190, 1, 1);
  box-shadow: 4px 5px 10px 10px rgb(87, 8, 8);
  border-radius: 50px;
}
.autor-1 {
}
.autor-2 {
}
.autor-3 {
}
.autor-4 {
}
.autor-5 {
}
.list {
  outline: 10px dotted rgb(100, 5, 76);
  border: 5px solid rgb(190, 1, 1);
  box-shadow: inset 4px 5px 10px 10px rgb(87, 8, 8);
  border-radius: 50px;
}
.items-1 {
}
.items-2 {
}
.items-3 {
}
.items-4 {
}
.items-5 {
}
.example {
}
.inline-span {
}
.inline-span-2 {
}
.inline-span-3 {
}
.example-link {
}
.link {
}
.image {
}
.image-example {
}
.image-example-2 {
}
.image-example-3 {
}
.image-example-4 {
}*/
